<<<<<<< HEAD
@charset "UTF-8";
div.write_form { width:1300px; margin: 20px auto 50px auto; background-color: #fff; border-radius: 16px; overflow: hidden;}
div.write_title h1 { margin:0; padding: 20px; background-color: #ff8080; color:#fff;}
table.write_table { width:1200px; margin: 20px auto; border-spacing: 0;}
table.write_table td {min-height:30px; padding: 20px; border-bottom: #ffaaaa solid 1px;}
table.write_table td.td_name { font-weight: bold; color: #ff6060; font-size: 18px;}
table.write_table td.td_content { font-weight: bold; color:18px;}

div.input_subject input {width:800px; height: 30px;}
div.input_link input{width:600px; height: 20px; margin-bottom: 10px;}
div.input_price input{width:100px;}
textarea {resize:none;}
textarea#DetailContent {width: 800px; height: 400px;}
div.write_form_submit {height: 50px; margin: 20px 0; text-align: center;}
div.write_form_submit input {width: 200px; height: 50px; border-radius: 8px; background-color: #ff8080; color: #fff; font-size: 20px; font-weight: bold; border: 0; transition: all 150ms ease-out; transform: translateY(0px);}
div.write_form_submit input:hover {cursor:pointer;outline: 0;transform: translateY(-5px);transition: all 100ms ease-in;box-shadow: 0 5px 10px #a6a6a6;}
div.input_salary input {width: 200px; height: 25px;}
div.input_workTime input {width: 200px; height: 25px;}
input#Location {width: 300px; height: 30px;}
=======
@charset "UTF-8";
div.write_form { width:1300px; margin: 20px auto 50px auto; background-color: #fff; border-radius: 16px; overflow: hidden;}
div.write_title h1 { margin:0; padding: 20px; background-color: #ff8080; color:#fff;}
table.write_table { width:1100px; margin: 20px auto; border-spacing: 0;}
table.write_table td {min-height:30px; padding: 20px; border-bottom: #ffaaaa solid 1px;}
table.write_table td.td_name { font-weight: bold; color: #ff6060; font-size: 18px;}
table.write_table td.td_content { font-weight: bold; color:18px;}
div.check_list { display: inline-block; margin: 0px 10px;}
div.check_list span {margin-left: 10px;}
div.check_list input[type="checkbox"] {display: none;}
div.check_list input[type="checkbox"]+label {display: inline-block; cursor:pointer; width: 20px; height: 20px; background-image: url("../img/checkbox-line.png"); background-size: 20px; border-radius: 4px;vertical-align: middle; line-height: 10px;}
div.check_list input[type="checkbox"]:checked+label {background-color: #ff8080;}
div.check_list input[type="radio"] {display: none;}
div.check_list input[type="radio"]+label {display: inline-block; cursor:pointer; width: 20px; height: 20px; background-image: url("../img/checkbox-line.png"); background-size: 20px; border-radius: 4px;vertical-align: middle; line-height: 10px;}
div.check_list input[type="radio"]:checked+label {background-color: #ff8080;}
div.input_subject input {width:800px; height: 30px;}
div.input_link input{width:600px; height: 20px; margin-bottom: 10px;}
div.input_price input{width:100px;}
textarea {resize:none;}
textarea#DetailContent {width: 800px; height: 400px;}
div.write_form_submit {height: 50px; margin: 20px 0; text-align: center;}
div.write_form_submit input {width: 200px; height: 50px; border-radius: 8px; background-color: #ff8080; color: #fff; font-size: 20px; font-weight: bold; border: 0; transition: all 150ms ease-out; transform: translateY(0px);}
div.write_form_submit input:hover {cursor:pointer;outline: 0;transform: translateY(-5px);transition: all 100ms ease-in;box-shadow: 0 5px 10px #a6a6a6;}
>>>>>>> origin/pje
