@charset "UTF-8";
#textbox{width: 500px; height: 50px;
		border-radius: 20px; text-align: center;
		font-size: 30px; border: 1px solid #787878; 
		border-style:groove; color: #787878;}
.category_button{border:none; background-color: #ffffff;
				font-size:20px;}